########## Intellij #########

*.iml
.idea/
out/
gen-external-apklibs/

########## Eclipse ##########

.classpath
.settings/
.project
classes/
bin/

########### Maven ###########

target/
tmp/

########### Android ###########

gen/
lint.xml
/.apt_generated
/project.properties
